In [ ]:
import pandas as pd

#dataframe
data = pd.read_csv('tic-tac-toe.csv')

print(data.columns)

Index(['top-left-square', 'top-middle-square', 'top-right-square',
       'middle-left-square', 'middle-middle-square', 'middle-right-square',
       'bottom-left-square', 'bottom-middle-square', 'bottom-right-square',
       'Class'],
      dtype='object')

In [ ]:
data

    top-left-square top-middle-square  ... bottom-right-square     Class
0                 x                 x  ...                   o  positive
1                 x                 x  ...                   o  positive
2                 x                 x  ...                   x  positive
3                 x                 x  ...                   b  positive
4                 x                 x  ...                   b  positive
..              ...               ...  ...                 ...       ...
953               o                 x  ...                   x  negative
954               o                 x  ...                   x  negative
955               o                 x  ...                   x  negative
956               o                 x  ...                   x  negative
957               o                 o  ...                   x  negative

[958 rows x 10 columns]

In [ ]:
labels = data['Class']
if 'positive' in labels:
  print("Yes")
else:
  print("No")

No

In [ ]:
X = []
for i in data:
  X.append(data.groupby([i, 'Class'], as_index=False)['Class'].count())

In [ ]:
X

[  top-left-square  Class
 0               b     63
 1               b    142
 2               o    146
 3               o    189
 4               x    123
 5               x    295,   top-middle-square  Class
 0                 b     78
 1                 b    172
 2                 o    101
 3                 o    229
 4                 x    153
 5                 x    225,   top-right-square  Class
 0                b     63
 1                b    142
 2                o    146
 3                o    189
 4                x    123
 5                x    295,   middle-left-square  Class
 0                  b     78
 1                  b    172
 2                  o    101
 3                  o    229
 4                  x    153
 5                  x    225,   middle-middle-square  Class
 0                    b     48
 1                    b    112
 2                    o    192
 3                    o    148
 4                    x     92
 5                    x    366,   middle-right-square  Class
 0                   b     78
 1                   b    172
 2                   o    101
 3                   o    229
 4                   x    153
 5                   x    225,   bottom-left-square  Class
 0                  b     63
 1                  b    142
 2                  o    146
 3                  o    189
 4                  x    123
 5                  x    295,   bottom-middle-square  Class
 0                    b     78
 1                    b    172
 2                    o    101
 3                    o    229
 4                    x    153
 5                    x    225,   bottom-right-square  Class
 0                   b     63
 1                   b    142
 2                   o    146
 3                   o    189
 4                   x    123
 5                   x    295,    Class
 0    332
 1    626]

In [ ]:
Y = []
for i in data:
  Y.append(data.groupby([i, i], as_index=False)[i].count())

In [ ]:
Y

[   top-left-square
 0              205
 1              335
 2              418,    top-middle-square
 0                250
 1                330
 2                378,    top-right-square
 0               205
 1               335
 2               418,    middle-left-square
 0                 250
 1                 330
 2                 378,    middle-middle-square
 0                   160
 1                   340
 2                   458,    middle-right-square
 0                  250
 1                  330
 2                  378,    bottom-left-square
 0                 205
 1                 335
 2                 418,    bottom-middle-square
 0                   250
 1                   330
 2                   378,    bottom-right-square
 0                  205
 1                  335
 2                  418,    Class
 0    332
 1    626]

In [ ]:
X[1]['Class']
t = len(X)
for i in range(len(X)-1):
  for j in X[i]['Class']:
    for i in range(2):

0
1
2
3
4
5
6
7
8

In [ ]:
temp = -1
flag = -1
flag1 = 0
for i in data:
  temp = temp + 1
  flag1 = 0
  if i != 'Class':
    for j in X[temp]['Class']:
      flag = flag + 1
      if flag == 2:
        flag1 = flag1 + 1
        flag = -1
      X[temp]['Class'] = X[temp]['Class']/Y[temp][i][flag1]

In [ ]:
X

[  top-left-square         Class
 0               b  7.164405e-54
 1               b  1.614834e-53
 2               o  1.660323e-53
 3               o  2.149322e-53
 4               x  1.398765e-53
 5               x  3.354761e-53,   top-middle-square         Class
 0                 b  5.904315e-24
 1                 b  1.301977e-23
 2                 o  7.645330e-24
 3                 o  1.733446e-23
 4                 x  1.158154e-23
 5                 x  1.703168e-23,   top-right-square         Class
 0                b  9.539423e-14
 1                b  2.150156e-13
 2                o  2.210724e-13
 3                o  2.861827e-13
 4                x  1.862459e-13
 5                x  4.466873e-13,   middle-left-square         Class
 0                  b  9.187153e-14
 1                  b  2.025885e-13
 2                  o  1.189619e-13
 3                  o  2.697254e-13
 4                  x  1.802095e-13
 5                  x  2.650140e-13,   middle-middle-square         Class
 0                    b  1.041595e-13
 1                    b  2.430389e-13
 2                    o  4.166382e-13
 3                    o  3.211586e-13
 4                    x  1.996391e-13
 5                    x  7.942165e-13,   middle-right-square         Class
 0                   b  9.187153e-14
 1                   b  2.025885e-13
 2                   o  1.189619e-13
 3                   o  2.697254e-13
 4                   x  1.802095e-13
 5                   x  2.650140e-13,   bottom-left-square         Class
 0                  b  9.539423e-14
 1                  b  2.150156e-13
 2                  o  2.210724e-13
 3                  o  2.861827e-13
 4                  x  1.862459e-13
 5                  x  4.466873e-13,   bottom-middle-square         Class
 0                    b  9.187153e-14
 1                    b  2.025885e-13
 2                    o  1.189619e-13
 3                    o  2.697254e-13
 4                    x  1.802095e-13
 5                    x  2.650140e-13,   bottom-right-square         Class
 0                   b  9.539423e-14
 1                   b  2.150156e-13
 2                   o  2.210724e-13
 3                   o  2.861827e-13
 4                   x  1.862459e-13
 5                   x  4.466873e-13,    Class
 0    332
 1    626]

In [ ]:
f = -0.5*math.log(0.5,2)-(1-0.5)*math.log(1-0.5,2)

In [ ]:
for i in X[0]['Class']:
  print(i)

7.164405314351081e-54
1.6148342137108783e-53
1.6603225014210447e-53
2.1493215943053247e-53
1.3987648470875925e-53
3.354761218624713e-53

In [ ]:
f = -1
for i in range(len(X)-1):
  f = -1
  for j in X[i]['Class']:
    f = f + 1
    X[i]['Class'][f] =  -j*math.log(j,2)-(1-j)*math.log(1-j,2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
X

[  top-left-square         Class
 0               b  2.138563e-49
 1               b  4.755309e-49
 2               o  4.886987e-49
 3               o  6.298978e-49
 4               x  4.128950e-49
 5               x  9.758390e-49,   top-middle-square         Class
 0                 b  4.556035e-22
 1                 b  9.898104e-22
 2                 o  5.870979e-22
 3                 o  1.310671e-21
 4                 x  8.824267e-22
 5                 x  1.288210e-21,   top-right-square         Class
 0                b  4.263683e-12
 1                b  9.358241e-12
 2                o  9.612904e-12
 3                o  1.233762e-11
 4                x  8.144707e-12
 5                x  1.897007e-11,   middle-left-square         Class
 0                  b  4.111337e-12
 1                  b  8.834764e-12
 2                  o  5.279279e-12
 3                  o  1.165106e-11
 4                  x  7.889199e-12
 5                  x  1.145435e-11,   middle-middle-square         Class
 0                    b  4.642253e-12
 1                    b  1.053489e-11
 2                    o  1.773590e-11
 3                    o  1.379203e-11
 4                    x  8.710297e-12
 5                    x  3.306982e-11,   middle-right-square         Class
 0                   b  4.111337e-12
 1                   b  8.834764e-12
 2                   o  5.279279e-12
 3                   o  1.165106e-11
 4                   x  7.889199e-12
 5                   x  1.145435e-11,   bottom-left-square         Class
 0                  b  4.263683e-12
 1                  b  9.358241e-12
 2                  o  9.612904e-12
 3                  o  1.233762e-11
 4                  x  8.144707e-12
 5                  x  1.897007e-11,   bottom-middle-square         Class
 0                    b  4.111337e-12
 1                    b  8.834764e-12
 2                    o  5.279279e-12
 3                    o  1.165106e-11
 4                    x  7.889199e-12
 5                    x  1.145435e-11,   bottom-right-square         Class
 0                   b  4.263683e-12
 1                   b  9.358241e-12
 2                   o  9.612904e-12
 3                   o  1.233762e-11
 4                   x  8.144707e-12
 5                   x  1.897007e-11,    Class
 0    332
 1    626]

In [ ]:
for i in Y[0]['top-left-square']:
  print(i)

205
335
418

In [ ]:
Y[0]['top-left-square'][0]

205

In [ ]:
Y[0]

   top-left-square
0              205
1              335
2              418

In [ ]:
for i in data:
  print(i)

top-left-square
top-middle-square
top-right-square
middle-left-square
middle-middle-square
middle-right-square
bottom-left-square
bottom-middle-square
bottom-right-square
Class

In [ ]:
import numpy as np
import math
import random

class Node:
    def __init__(self, attribute=None, attribute_values=None, child_nodes=None, decision=None):
        self.attribute = attribute
        self.attribute_values = attribute_values
        self.child_nodes = child_nodes
        self.decision = decision


class DecisionTree:

    root = None

    @staticmethod
    def plurality_values(data):
        labels = data[:, data.shape[1] - 1]  # store the last column in labels
        count1 = 0
        count2 = 0
        for label in labels:
          if label == 'positive':
            count1 = count1 + 1
          else:
            count2 = count2 + 1
        if count1 > count2:
          return 'positive'
        else:
          return 'negative'

    @staticmethod
    def all_zero(data):
        labels = data[:, data.shape[1] - 1]  # store the last column in labels
        count1 = 0
        count2 = 0
        for label in labels:
          count2 = count2 + 1
          if 'negative' == label:
            count1 = count1 + 1
        if count1 == count2:
          return True
        else:
          return False

    @staticmethod
    def all_one(data):
        labels = data[:, data.shape[1] - 1]  # store the last column in labels
        count1 = 0
        count2 = 0
        for label in labels:
          count2 = count2 + 1
          if 'positive' == label:
            count1 = count1 + 1
        if count1 == count2:
          return True
        else:
          return False


    @staticmethod
    def importance(data, attributes):
        labels = data[:, data.shape[1] - 1]  # store the last column in labels
        count1 = 0
        count2 = 0
        for label in labels:
          if label == 'positive':
            count1 = count1 + 1
          else:
            count2 = count2 + 1
        
        entropy_yes = -count1*math.log(count1,2)-(1-count1)*math.log(1-count1,2)
        entropy_no = -count2*math.log(count2,2)-(1-count2)*math.log(1-count2,2)

        for attribute in attributes:
          X = []
          Y = []
          X.append(data.groupby([attribute, 'Class'], as_index=False)['Class'].count())
          Y.append(data.groupby([attribute, attribute], as_index=False)[attribute].count())
        temp = -1
        flag = -1
        flag1 = 0
        for i in attributes:
          temp = temp + 1
          flag1 = 0
          if i != 'Class':
            for j in X[temp]['Class']:
              flag = flag + 1
              if flag == 2:
                flag1 = flag1 + 1
                flag = -1
                X[temp]['Class'] = X[temp]['Class']/Y[temp][i][flag1]
        
        for i in range(len(X)-1):
          f = -1
          for j in X[i]['Class']:
            f = f + 1
            X[i]['Class'][f] =  -j*math.log(j,2)-(1-j)*math.log(1-j,2)
        
        for i in range(len(Y)):
          for j in Y[i]:
            Y[i] = entropy_yes - (Y[i]/(Y[0]+Y[1]+Y[2]) * (X[i]['Class'][j])

        max_info = -1

        for i in range(len(Y)):
          for j in Y[i]:
            if max_info < j:
              max_info = j
              attribute1 = Y[i][j]

        return attribute1


    def train(self, data, attributes, parent_data):
        data = np.array(data)
        parent_data = np.array(parent_data)
        attributes = list(attributes)

        if data.shape[0] == 0:  # if x is empty
            return Node(decision=self.plurality_values(parent_data))

        elif self.all_zero(data):
            return Node(decision=0)

        elif self.all_one(data):
            return Node(decision=1)

        elif len(attributes) == 0:
            return Node(decision=self.plurality_values(data))

        else:
            a = self.importance(data, attributes)
            tree = Node(attribute=a, attribute_values=np.unique(data[:, a]), child_nodes=[])
            attributes.remove(a)
            for vk in np.unique(data[:, a]):
                new_data = data[data[:, a] == vk, :]
                subtree = self.train(new_data, attributes, data)
                tree.child_nodes.append(subtree)

            return tree

    def fit(self, data):
        self.root = self.train(data, list(range(data.shape[1] - 1)), np.array([]))

    def predict(self, data):
        predictions = []
        for i in range(data.shape[0]):
            current_node = self.root
            while True:
                if current_node.decision is None:
                    current_attribute = current_node.attribute
                    current_attribute_value = data[i, current_attribute]
                    if current_attribute_value not in current_node.attribute_values:
                        predictions.append(random.randint(0, 1))
                        break
                    idx = list(current_node.attribute_values).index(current_attribute_value)

                    current_node = current_node.child_nodes[idx]
                else:
                    predictions.append(current_node.decision)
                    break

        return predictions